<mat-card>
    <mat-card-header>Add MessBook Member</mat-card-header>
    <mat-card-content>
        <form [formGroup]="myGroup">
            <mat-form-field style="width: 100%;">
                <mat-label>MessBooks</mat-label>
                <mat-select formControlName="messBookId">
                  @for (messBookId of messbooksList; track messBookId) {
                    <mat-option [value]="messBookId">{{ messBookId }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field style="width: 100%;">
                <mat-label>Users</mat-label>
                <mat-select formControlName="userId">
                  @for (userId of userList; track userId) {
                    <mat-option [value]="userId">{{ userId }}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>Invited By</mat-label>
                <mat-select formControlName="invitedBy" multiple>
                  @for (invitedBy of userList; track invitedBy) {
                    <mat-option [value]="invitedBy">{{ invitedBy }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
                
            <button mat-flat-button color="accent" style="width: 100%;" type="submit">Add Member</button>
        </form>
    </mat-card-content>
</mat-card>