<mat-card>
  <mat-card-header>Add Diary Member</mat-card-header>
  <mat-card-content>
    <form (submit)="submit(form)" #form="ngForm">
      <mat-form-field style="width: 100%;">
        <mat-label>Diaries</mat-label>
        <mat-select [(ngModel)]="messBookMember.messBook" name="messBook">
          <mat-option *ngFor="let messBook of messbooksList" [value]="messBook">
            {{ messBook.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Member</mat-label>
        <mat-select [(ngModel)]="messBookMember.members" name="messBookMember">
          <mat-option *ngFor="let member of userList" [value]="member">
            {{ member.username }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field style="width: 100%;">
        <mat-label>Invited By</mat-label>
        <mat-select [(ngModel)]="messBookMember.invitedBy" #invitedBy="ngModel" name="invitedBy" required>
          <mat-option *ngFor="let user of userList" [value]="user">
            {{ user.username }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="invitedBy.invalid">Please select an Invited By user.</mat-error>
      <mat-checkbox [(ngModel)]="messBookMember.isAccepted" name="isAccepted" #isAccepted="ngModel" labelPosition="after" required> Is Accepted </mat-checkbox>
      <mat-error *ngIf="isAccepted.invalid">Please check is Accepted</mat-error>
      <button mat-flat-button color="accent" style="width: 100%;" type="submit">Add Member</button>

      <!-- Display form values for debugging purposes -->
      <p>Diary:{{ messBookMember.messBook.title| json }}</p>
      <p>Member: {{ messBookMember.members[0].username| json }}</p>
      <p>InvitedBy: {{ messBookMember.invitedBy.username| json }}</p>
      <p>IsApproved: {{ messBookMember.isAccepted| json }}</p>
    </form>
  </mat-card-content>
</mat-card>
