<p>
    <mat-toolbar>
        <span>Mass Book</span>
    </mat-toolbar>
    <a  mat-button routerLink="/">Dashboard</a>
    <!-- transactions menu -->
    <button mat-button [matMenuTriggerFor]="transactionMenu">Transactions</button>
    <mat-menu #transactionMenu="matMenu">
        <a mat-menu-item routerLink="api/transactions">Add Transaction</a>
        <button mat-menu-item>View Transactions</button>
    </mat-menu>
    <!-- users menu -->
    <button mat-button [matMenuTriggerFor]="userMenu">Users</button>
    <mat-menu #userMenu="matMenu">
        <a mat-menu-item routerLink="api/users/create">Add User</a>
        <a mat-menu-item routerLink="api/users">View Users</a>
    </mat-menu>
    <!-- Mess Book menu -->
    <button mat-button [matMenuTriggerFor]="messBookrMenu">Mess Books</button>
    <mat-menu #messBookrMenu="matMenu">
        <a mat-menu-item routerLink="api/mess-books">Add Mess Book</a>
        <button mat-menu-item>View Mess Books</button>
    </mat-menu>
</p>
