<mat-card> 
    <mat-card-header><h1>Add diary</h1></mat-card-header>
    <mat-card-content>
        <form (submit)="submit(form)" #form="ngForm">
            <mat-form-field style="width: 100%;">
                <mat-label for="title">Title</mat-label>
                <input type="text" matInput [(ngModel)]="diary.title" name="title" #title="ngModel" required>
                <mat-error *ngIf="title.invalid">Please enter a title.</mat-error>
            </mat-form-field>
            <mat-form-field  style="width: 100%;">
                <mat-label>Choose a Start date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="diary.startDate" name="startDate" #startDate = "ngModel" required>
                <mat-error *ngIf="startDate.invalid">Please select a start date.</mat-error>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field  style="width: 100%;">
                <mat-label>Choose a End date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="diary.endDate" name="endDate" #endDate = "ngModel" required>
                <mat-error *ngIf="endDate.invalid">Please select a end date.</mat-error>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
                <button type="button" color="primary" style="width: 100%; margin-bottom: 0.5em;" mat-flat-button (click)="fileInput.click()">Attachment (Optional):</button>
                <!-- <input hidden  #fileInput type="file"  id="attachment" [(ngModel)]="diary.attachment" name="attachment"> -->
                <input hidden #fileInput type="file" id="attachment" (change)="onFileChange($event)" name="attachment">

                <button mat-flat-button color="accent" style="width: 100%;" type="submit">Add Transaction</button>
        </form>
    </mat-card-content>
</mat-card>