<mat-card>
    <mat-card-header><h1>Add User</h1></mat-card-header>
    <mat-card-content>
        <form (submit)="addUser(userForm)" #userForm="ngForm">
            <mat-form-field style="width: 100%;">
                <mat-label for="username">Username</mat-label>
                <input type="text" matInput [(ngModel)]="user.username" name="username" #username="ngModel" required>
                <mat-error *ngIf="username.invalid">Please Enter an email.</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label for="email">Email</mat-label>
                <input type="email" matInput [(ngModel)]="user.email" name="email" #email="ngModel" required>
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label for="phone">Phone</mat-label>
                <input type="phone" matInput [(ngModel)]="user.phone" name="phone" #phone="ngModel" required>
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label for="password">Password</mat-label>
                <input type="password" matInput [(ngModel)]="user.password" name="password" #password="ngModel" required>
            </mat-form-field>

            <button type="button" color="primary" style="width: 100%; margin-bottom: 0.5em;" mat-flat-button (click)="fileInput.click()">Profile Picture (Optional):</button>
            <!-- <input hidden  #fileInput type="file"  id="profile_picture" [(ngModel)]="user.profile_picture" name="profile_picture"> -->
            <input hidden #fileInput type="file" id="profile_picture" (change)="onFileChange($event)" name="profile_picture">

            <button mat-flat-button color="accent" style="width: 100%;" type="submit">Add User</button>
        </form>
    </mat-card-content>
</mat-card>